{% extends "home/index.html" %}
{% load static %} 

{% block title %}
<title>MCET Alumni</title>
{% endblock title %}

{% block content %}

<!-- carousel code begin -->

    <div class="carouselContainer">
        <div id="carouselExampleIndicators" class="carousel slide center mb-2" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item carousel-home-img active">
                    <img src="{% static 'home/images/main_image.webp' %}" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="carousel-item carousel-home-img">
                    <img src="{% static 'home/images/principal.webp' %}" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="carousel-item carousel-home-img">
                    <img src="{% static 'home/images/candle_light.JPG' %}" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="carousel-item carousel-home-img">
                    <img src="{% static 'home/images/corus2k16.JPG' %}" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="carousel-item carousel-home-img">
                    <img src="{% static 'home/images/seminar_hall.JPG' %}" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="carousel-item carousel-home-img">
                    <img src="{% static 'home/images/ground.JPG' %}" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="carousel-item carousel-home-img">
                    <img src="{% static 'home/images/Library.jpg' %}" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="carousel-item carousel-home-img">
                    <img src="{% static 'home/images/saraswati_puja.JPG' %}" class="d-block w-100 img-fluid" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
  
<!-- carousel code end -->
  
<!-- mainSection code start -->
    <div class="mainContainer center mb-2">
        <div class="content">
            <div class="leftContent sixty firstContent">
                <h1 class="title text-center">Welcome to All Alumni</h1>
                <hr>
                <p class="alumniDiscription">The Association serves to connect alumni by organizing events and activities that assist alumni’s professional and career development; benefit students or give back to alma mater;and enhance alumni’s social and professional network.
  
                <br> <br> We welcome all the graduates of Murshidabad College of Engineering and Technology to get connected and collaborate with all our alumni using our website.
                      
                <br> <br> Please signup and be part of a strong global alumni network of MCET graduates</p>
            </div>
            <div class="rightContent forty donationLink">
                <div class="donationContent">
                    <h3 class="title donationQuote">Greatness is not what we have,<br>It's what we give</h3>
                    <a href="{% url 'donation' %}"><button class="donateBtn">Give Back</button></a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="leftContent forty notableAlumini">
                <a href="{% url 'alumni_speaks' %}" style="text-decoration: none;">
                    <h1 class="title"> Alumini speaks</h1>
                </a>
                
            </div>
            <div class="rightContent sixty">
                <h1 class="title text-center">Upcoming Events</h1>
                <hr>
                <div class="row">
                    <h1 class="col-3 text-center text-white">23 <br> <span>April</span></h1>
                    <h2 class="col-6 text-center text-white" style="border-left:1px solid #bbb;">NOSTALGIA 2K22</h2>
                </div>
                <hr>
                <div class="row">
                    <h1 class="col-3 text-center text-white">24-25 <br> <span>April</span></h1>
                    <h2 class="col-6 text-center text-white" style="border-left:1px solid #bbb;">CORUS 2K22</h2>
                </div>
                <hr>
            </div>
        </div>
        <div class="content">
            <div class="leftContent sixty members">
                <a href="{% url 'alumni' %}" style="text-decoration: none;">
                    <h1 class="title">Members</h1>
                </a>
                
            </div>
            <div class="rightContent forty gallery">
                <a href="{%url 'gallery' %}" style="text-decoration: none;">
                    <h1 class="title">Alumni Gallery</h1>
                </a>
            </div>
        </div>
    </div>
<!-- mainSection code end -->
{% endblock content %}