{% extends "home/index.html" %}
{% load static %} 

{% block title %}
<title> Alumni Speaks </title>
{% endblock title %}

{% block content %}
<div class="carousel-container">
    <div id="carouselExampleIndicators" class="carousel slide center mb-2" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
            <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>     --> 
        </div>
        <div class="carousel-inner">
            <div class="carousel-item carousel-alumni-img active">
                <img src="{% static 'alumni/speaks/1.png' %}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item carousel-alumni-img">
                <img src="{% static 'alumni/speaks/2.png' %}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item carousel-alumni-img">
                <img src="{% static 'alumni/speaks/3.png'%}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item carousel-alumni-img">
                <img src="{% static 'alumni/speaks/4.png' %}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item carousel-alumni-img">
                <img src="{% static 'alumni/speaks/5.png'%}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item carousel-alumni-img">
                <img src="{% static 'alumni/speaks/6.png' %}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item carousel-alumni-img">
                <img src="{% static 'alumni/speaks/7.png' %}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item carousel-alumni-img">
                <img src="{% static 'alumni/speaks/8.png' %}" class="d-block w-100 img-fluid" alt="...">
            </div>
           
            <!-- <div class="carousel-item carousel-alumni-img active">
                <img src="{% static 'alumni/speaks/9.png' %}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item carousel-alumni-img active">
                <img src="{% static 'alumni/speaks/10.png' %}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item carousel-alumni-img active">
                <img src="{% static 'alumni/speaks/11.png' %}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item carousel-alumni-img active">
                <img src="{% static 'alumni/speaks/12.jpg' %}" class="d-block w-100 img-fluid" alt="...">
            </div> -->
        </div>
        <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next"  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div>
    
</div>

{% endblock content %}