{% extends "home/index.html" %}

{% block title %}
<title>MCET Alumni</title>
{% endblock title %}

{% block content %}
<div class="container mb-4">
    {% if msg%}
    <div class="alert alert-primary" role="alert">
        {{msg}}
    </div>
    {% endif %}
    <form method="post" class="form-inline">
        {% csrf_token %}
        <div class="row" style="font-size: 17px;">
            <div class="col-12 col-md-4  ">
                <label for="{{ form.dept_name.id_for_label }}"> Department </label>
                {{ form.dept_name }}
            </div>
            <div class="col-12 col-3 col-md-2 ">
                <label for="{{ form.semester.id_for_label }}"> Batch </label>
                {{ form.batch }}
            </div>
            <div class="col-12 col-md-2  pt-4">
                <button type="submit" style="font-size: 17px;" class="btn btn-primary mt-2"> Update </button>
            </div>
        </div>

    </form>
</div>

{% if alumunis %}
<div class="container">
    <div class="row ">
        {% for alumni in alumunis %}
        <div class=" col-md-4">
            <figure class="snip0056">
                <figcaption>
                    <h2>{{ alumni.name }}</h2>
                    <p>{{alumni.department}} <span>{{ alumni.batch }}</span></p>
                </figcaption>
                <img src="{{alumni.photo }}" alt="alumni-proflie" />
                <div class="position"></div>
            </figure>
        </div>

        {% endfor %}
    </div>

</div>

{% endif %}
{% endblock content %}
